.container{
    height: 2rem;
    background-color: #d2a5a1;
    width: 1024px;
}

.menu{

}

.menu__list{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
}

.menu__list__item{
    list-style-type: none;

}