.p8-btn {
    text-transform: uppercase;
    background: var(--clr-primary-5);
    color: var(--clr-primary-1);
    padding: 0.375rem 0.75rem;
    letter-spacing: 1px;
    display: inline-block;
    transition: var(--transition);
    font-size: 0.875rem;
    border: 2px solid var(--clr-primary-5);
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: var(--radius);
}
.p8-btn:hover {
    color: var(--clr-primary-5);
    background: var(--clr-primary-8);
    border-color: var(--clr-primary-8);
}
/* section */
.p8-section {
    padding: 5rem 0;
}

.p8-section-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 40rem;
    margin-top: 5rem;
    text-align: center;
}
@media screen and (min-width: 992px) {
    .p8-section-center {
        width: 95vw;
    }
}
.p8-main {
    min-height: 100vh;
    display: grid;
    place-items: center;
}
/*
===============
Lorem Ipsum
===============
*/
.p8-h3 {
    text-transform: uppercase;
    color: var(--clr-primary-1);
}
.p8-lorem-form {
    text-transform: capitalize;
    letter-spacing: var(--spacing);
    margin-top: 2rem;
    margin-bottom: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.p8-label {
    font-size: 1.25rem;
}
.p8-input {
    padding: 0.25rem 0.5rem;
    width: 4rem;
    border-radius: var(--radius);
    border: none;
    margin: 0 0.5rem;
    font-size: 1.25rem;
}
.p8-button {
    background: var(--clr-primary-10);
}
.p8-result {
    margin-bottom: 2rem;
}